body {
    color: #2f4f4f;
    background-color: white;
    background-image: url('assets/images/bbt-bgd-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


h2,
div,
p {
    padding-left: 20px;
}

header {
    background-color: #D70008;
    color: white;
    border-bottom: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #0F569E;
    color: white;
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

h1 {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.btn {
    margin-bottom: 20px;
}