body {
    color: #2f4f4f;
    background-color: white;
}

header {
    background-color: #D70008;
    color: white;
    border-bottom: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #0F569E;
    color: black;
}

h1 {
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
}